<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">
            %5p %d{yyyy-MM-dd HH:mm:ss.SSS} (%F:%L) --- %M [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

		<RollingRandomAccessFile name="LogFile"
								 fileName="${sys:user.home}/irt/components.log"
								 filePattern="${sys:user.home}/irt/components-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />

			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
    </Appenders>

    <Loggers>
<!-- 		<logger name="irt.components.services.IrtUrlAuthenticationSuccessHandler" level="TRACE" /> -->
<!-- 		<logger name="irt.components.controllers.rma.RmaController" level="TRACE" /> -->
<!-- 		<logger name="org.springframework.jdbc.core.JdbcTemplate" level="TRACE" /> -->
<!-- 		<logger name="org.springframework.jdbc.core" level="TRACE" /> -->
<!-- 		<logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" /> -->

<!-- 		<logger name="irt.components.workers.HttpRequest" level="all" /> -->
<!-- 		<logger name="irt.components.controllers.calibration.CalibrationController" level="all" /> -->
<!-- 		<logger name="irt.components.controllers.calibration.HttpSerialPortRestController" level="all" /> -->
<!-- 		<logger name="irt.components.workers.HttpRequest" level="all" /> -->

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="LogFile" />
        </Root>
    </Loggers>

</Configuration>
