<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal modal-lg" tabindex="-1" role="dialog">
	<th:block th:fragment="modal">
  		<div class="modal-dialog modal-xl">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header row">
        			<h5 class="modal-title ml-3 text-primary col-auto" th:text="(${module}==null ? ${sn} : ${module}) + ' - Biasing Sequence from ' + ${fromProfile ? 'Profile' : 'DB'}">biasing-sequence</h5>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body row" data-bs-toggle="tooltip" data-th-data-bs-title="${#authorization.expression('hasAuthority(''EDIT_PROFILE_PROPERTY'')')} ? 'Press CTRL to move.' : 'Click to chage.'" title="Click to chage.">
      				<div th:each="b: ${biasing}" class="col-1 mb-1">
						<input type="checkbox" class="btn-check" th:id="${b.name}" th:checked="${b.enable}" autocomplete="off">
						<label class="btn"
							 th:classappend="${b.notDefault ? 'btn-outline-danger' : fromProfile ? 'btn-outline-primary' : 'btn-outline-success'}"
							 th:for="${b.name}" th:text="${b.name}"
							 th:title="${b.notDefault} ? 'This value is not in the database. By default it will be deleted.' : ''">Checked</label><br>
					</div>
     			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
      			<div class="row w-100"><div class="col biasingLine" th:text="${biasingLine}"></div></div>
      			<div class="row w-100">
      			<th:block sec:authorize="hasAuthority('EDIT_PROFILE_PROPERTY')">
      				<div class="col-2 border border-info rounded bg-info-subtle p-1">
      					<div class="row">
      						<div class="col">
	        					<input type="text" id="inputAddBiasing" class="form-control border border-info">
	        				</div>
	        				<div class="col"><button type="button" id="btnAddBiasing" class="btn btn-outline-primary form-control disabled">Add</button></div>
	        			</div>
	        		</div>
	        		<div class="col p-1"><button type="button" id="btnSaveDB" class="btn btn-outline-info form-control" data-bs-toggle="tooltip" data-th-data-bs-title="'For ' + ${modulId} + ' type'" title="For all Units of this type">Save to DB</button></div>
	        		<div class="col p-1"><button type="button" id="btnToProfile" class="btn btn-outline-info form-control" data-bs-toggle="tooltip" data-th-data-bs-title="'Only for ' + ${snTitle}" title="Only for this unit.">to Profile</button></div>
	        	</th:block>
	        		<div class="col p-1"><a class="btn btn-outline-primary biasingUpload form-control" th:href="${module==null} ? @{'/calibration/rest/profile/upload?sn=' + ${sn}} : @{'/calibration/rest/profile/upload?sn=' + ${sn} + '&moduleSn=' + ${module}}">Upload</a></div>
	        		<div class="col p-1"><button type="button" id="btnSave" class="btn btn-outline-primary disabled form-control">Save</button></div>
	        		<div class="col p-1"><button type="button" id="btnDefault" class="btn btn-outline-secondary form-control" th:classappend="${biasing.isEmpty() ? 'disabled' : ''}">Default</button></div>
	        		<div class="col p-1"><button type="button" id="btnEnable" class="btn btn-outline-primary form-control" data-bs-toggle="tooltip" data-bs-title="Mute Invertion" title="Mute Invertion">Enable</button></div>
	        		<div class="col p-1"><button type="button" class="btn btn-outline-secondary form-control" data-bs-dismiss="modal">Close</button></div>
	    		</div></div>
    		</div>
  		</div>
  		<script th:inline="javascript">
			/*<![CDATA[*/

			var menus = $('div[aria-labelledby=menuModuleBiasing] a:not(.disabled)')
			.map((i,el)=>{
				let sequence = el.href[el.href.length-1];
				if(sequence === 'C' || sequence === 'c')
					sequence = 0;
				else
					sequence = parseInt(sequence);

				return {devId: parseInt(el.dataset.deviceId), sequence: sequence};
			})
			.sort((a,b)=>a.devId-b.devId);
			var menus2 = [...menus].sort((a,b)=>a.sequence-b.sequence);
			for(let i=0; i<menus.length; i++){
				if(menus[i].sequence!=menus2[i].sequence){
					if(confirm('It appears that the modules are not properly connected to the controller. Change connections and try again.\n\nBut if you want to continue, click Cancel.')){
						location.reload();
						break;
					}
				}
			}

			var biasing = /*[[${biasing}]]*/ [];
			var fromProfile = /*[[${fromProfile}]]*/ [];

			$modal.modal('show');
			var module = /*[[${module}]]*/ 'irt-2401001';
			$modalBody = $('#modal-body');
			$modalBody.find('input').change(()=>{
				$btnSave.removeClass('disabled');
			});
			var $labels = $modalBody.find('label').click(e=>{if(e.ctrlKey)e.preventDefault();});
			var $divs = $modalBody.find('div').mousedown(startMove);
			$('#btnDefault').click(()=>{
				$btnSave.removeClass('disabled');
				$modalBody.empty();
				biasing.forEach(b=>{
					let cssClass;
					if(b.notDefault)
						cssClass = 'btn btn-outline-danger';
					else
						cssClass = fromProfile ? 'btn btn-outline-primary' : 'btn btn-outline-success';
					addBiasing(b.name, cssClass, !b.notDefault );
				});
			});
			$btnSave = $('#btnSave').click(()=>{

				if(!confirm('Are you sure you want to change the PROFILE value?\nIf yes, click OK.'))
					return;

				let ids = $modalBody.find('input').filter((i,el)=>el.checked).map((i,el)=>el.id).get();
				$.post('/calibration/biasing/rest/save', {sn: module ? module : serialNumber, values: ids})
				.done(done=>{
					if(done===''){
						alert('Profile not found.');
					}else if(done){
						if(confirm('The changes have been saved.\nIf you want to make an Upload, click the OK button.')){
							$biasingUpload.addClass('disabled');
							upload($biasingUpload[0]);
						}else
							$biasingUpload.removeClass('disabled');
						$.get('/calibration/rest/profile/by-property', {sn: module ? module : serialNumber, property: 'biasing-sequence '})
						.done(line=>{
							$biasingLine.text(line).addClass('text-bg-warning').removeClass('text-bg-danger');
							setTimeout(()=>$biasingLine.removeClass('text-bg-warning'), 2000);
						})
						.fail(conectionFail);
					}else
						alert('Failed to save changes.');
				})
				.fail(conectionFail);
			});
			var $biasingUpload = $('.biasingUpload').click(function(e){
				e.preventDefault();
				$biasingUpload.addClass('disabled');
				upload(e, this);
			});

			var $inputAddBiasing = $('#inputAddBiasing').on('input', e=>{
				if(e.currentTarget.value.length>0)
					$btnAddBiasing.removeClass('disabled');
				else
					$btnAddBiasing.addClass('disabled');
			});
			var $btnAddBiasing = $('#btnAddBiasing').click(()=>{
				const val = $inputAddBiasing.val().trim().toUpperCase();
				if(!val){
					alert('No value to add.');
					return;
				}

				const ids = $modalBody.find('input').filter((i,el)=>el.checked).map((i,el)=>el.id).get();
				if(val[0]!='D' && ids.includes(val)){
					alert('This value already exists.');
					return;
				}

				addBiasing(val, 'btn btn-outline-warning', true);
				$inputAddBiasing.val('');
				$btnAddBiasing.addClass('disabled');
			});
			var mbOffset;
			var oldMousePosition;
			var currentTarget;
			function startMove(e){
				if(!e.ctrlKey)
					return;


				currentTarget = e.currentTarget;
				mbOffset = $modalBody.offset();
				const paddingTop = parseFloat($modalBody.css('padding-top'));
				mbOffset.height = $modalBody.height() + paddingTop;
				const paddingLeft = parseFloat($modalBody.css('padding-left'));
				mbOffset.width = $modalBody.width() + paddingLeft + 8;
				const position = e.currentTarget.getBoundingClientRect();
				oldMousePosition = {pageX: e.pageX, pageY: e.pageY};

				e.currentTarget.style.position = 'absolute';

				const left = position.left - mbOffset.left;
				e.currentTarget.style.left = left + 'px';

				const top = position.top - mbOffset.top;
				e.currentTarget.style.top = top + 'px';

				window.addEventListener('mousemove', moveElement);
				window.addEventListener('mouseup', stopMove);
			}
			function addBiasing(val, cssClass, checked){

				const $div = $('<div>', {class: 'col-1 mb-1'}).mousedown(startMove);
				$modalBody.append($div
						.append($('<input>', {type: 'checkbox', id: val, class: 'btn-check', autocomplete: 'off', checked: checked}))
						.append($('<label>', {for: val, class: cssClass, text: val})));
			}
			function moveElement(e){
				if(!e.ctrlKey || !currentTarget)
					return;

				const position = currentTarget.getBoundingClientRect();

				const mouseMoveX = oldMousePosition.pageX - e.pageX;
				const left = position.left - mbOffset.left - mouseMoveX;
				const rightLimit = mbOffset.width - position.width;
				if(left>0 && left<rightLimit){
					currentTarget.style.left = left + 'px';
					oldMousePosition.pageX = e.pageX;
				}

				const mouseMoveY = oldMousePosition.pageY - e.pageY;
				const top = position.top - mbOffset.top - mouseMoveY;
				const bottomLimit = mbOffset.height - position.height;
				if(top>0 && top<bottomLimit){
					currentTarget.style.top = top + 'px';
					oldMousePosition.pageY = e.pageY;
				}
			}
			function stopMove(e){
				if(!currentTarget)
					return;

				const ct = currentTarget;
				const position = ct.getBoundingClientRect();
				const halfHeight = parseFloat(position.height)/2;
				const center = {};
				center.top = parseFloat(position.top) + halfHeight;
				const halfWidth = parseFloat(position.width)/2;
				center.left = parseFloat(position.left) + halfWidth;
				let before = true;
				const $divsOnLeft = $divs.filter((i, el)=>{
					const p = el.getBoundingClientRect();
					const l = parseFloat(p.left);
					const top = parseFloat(p.top);

					if(el!=ct && l<center.left && top<center.top){
						before = (l + halfWidth) > center.left;
						return true;
					}
					return false;
				});

				if(before)
					$divsOnLeft[$divsOnLeft.length-1].before(ct);
				else
					$divsOnLeft[$divsOnLeft.length-1].after(ct);
				console.log($divsOnLeft.length);
				// Set Default
				ct.style.position = '';
				window.removeEventListener('mousemove', moveElement);
				window.removeEventListener('mouseup', stopMove);
				currentTarget = undefined;
				$divs = $modalBody.find('div');
			}
			$('#btnToProfile').click(()=>{

				if(!confirm('Are you sure you want to change the PROFILE value?\nIf yes, click OK.'))
					return;

				let ids = $modalBody.find('input').filter((i,el)=>el.checked).map((i,el)=>el.id).get();
				$.post('/calibration/biasing/rest/to-profile', {sn: module ? module : serialNumber, values: ids})
				.done(message=>{
					alert(message);
				})
				.fail(conectionFail);
			});
			$('#btnSaveDB').click(()=>{

				if(!confirm('Are you sure you want to change the DATABASE value?\nIf yes, click OK.'))
					return;

				let ids = $modalBody.find('input').filter((i,el)=>el.checked).map((i,el)=>el.id).get();
				$.post('/calibration/biasing/rest/to-db', {sn: serialNumber,  module: module, values: ids})
				.done(message=>{
					if(fromProfile){
						if(confirm(message + '\n\nTo remove default values ​​from the profile, click the OK button.')){
							$.post('/calibration/biasing/rest/to-profile', {sn: module ? module : serialNumber})
							.done(message=>{
								alert(message);
							})
							.fail(conectionFail);
						}
					}else
						alert(message);
				})
				.fail(conectionFail);
			});
			$('#btnEnable').click(()=>{
				const toSearch = module ? module : serialNumber;
				const deviceId = $('.biasing').find('a').filter((i, el)=>el.href.includes(toSearch)).map((i,el)=>el.dataset.deviceId).get();
				if(!deviceId.length){
					alert('Not enough information.');
					return;
				}
				$.get('/calibration/rest/register-pm2-fpga', {sn: serialNumber, deviceId: deviceId[0]})
				.done(register=>{
					console.log(register);
					let config = Number(register.config);
					if(config&1){
						if(confirm('Mute inversion is already enabled.\nPress OK to remove mute inversion.'))
							saveRegisterPm2Fpga(deviceId[0], --config);
						else
							muteUnmute();
						return;
					}
					saveRegisterPm2Fpga(deviceId[0], ++config);
					alert('The gate will be ready in one second');
				})
				.fail(conectionFail);
			});
			function saveRegisterPm2Fpga(deviceId, config){
				$.get('/calibration/rest/register-pm2-fpga', {sn: serialNumber, deviceId: deviceId, address: 5, value: config})
				.done(register=>{
					console.log(register);
					muteUnmute();
				})
				.fail(conectionFail);
			}
			function muteUnmute(){
				setMute('OFF', message=>{
					console.log(message + ' Mute.OFF');
					if(message === 'Done'){
						setTimeout(()=>setMute('ON', m=>console.log(m + ' Mute.ON')), 1000);
					}
				});
			}
			function setMute(mute, action){
				$.get('/calibration/rest/mute',{sn: serialNumber, mute: mute})
				.done(action)
				.fail(conectionFail)
			}
			var $biasingLine = $('.biasingLine');
			var text = $biasingLine.text();
			if(text){
				const biasingLine = $biasingLine.text().split(/\s+/)[1].split(/#+/)[0];
				const biasingInputs = $modalBody.find('input').filter((i,el)=>el.checked).map((i,el)=>el.id).get().join('-');
				if(biasingLine != biasingInputs)
					$biasingLine.addClass('text-bg-danger');
			}
			function setupModal(){
				const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
				[...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
				return true;
			}
			/*]]>*/
			//# sourceURL=biasing-sequence.js
  		</script>
	</th:block>
	</div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</body>
</html>