<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal modal-lg" tabindex="-1" role="dialog">
	<th:block th:fragment="modal">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h4 class="modal-title">Current Offset</h4>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body">
      				<p class="m-5">Press the <strong class="text-success">Local</strong> or <strong class="text-primary">Module</strong> button to get current offsets.</p>
      			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
	        		<button type="button"  class="btn btn-outline-success current_offset" data-local="true">Local</button>
	        		<button type="button" class="btn btn-outline-primary current_offset" data-local="false">Module</button>
	        		<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
	    		</div>
    		</div>
  		</div>
  		<script th:inline="javascript">
			/*<![CDATA[*/

			// Calibrate
			$('.current_offset').click(function(e){
				e.preventDefault();

				let classList = this.classList;
				let indexOf = Array.from(this.classList).map((t, i)=>t.startsWith('btn-outline-') ? i : 0).filter(i=>i);
				let btnClass;
				let pressedBtn;
				if(indexOf.length){
					btnClass = this.classList[indexOf[0]];
					pressedBtn = btnClass.replace('outline-', '');
					classList.remove(btnClass);
					classList.add(pressedBtn);
				}

				let $currentOffset = $('.current_offset').addClass('disabled');

				let local = this.dataset.local;
				$.post('/calibration/rest/current/offset', {sn: serialNumber, local: local})
				.done(function(data){

					if(!data.length){
						alert("There is nothing to save in the profile.");
						$currentOffset.removeClass('disabled');
						if(btnClass){
							classList.remove(pressedBtn);
							classList.add(btnClass);
						}
						return;
					}
					
					if(data[0].path == 'ERROR'){
						let arr = data[0].offsets
						if(arr.length)
							alert(data[0].offsets[0]);
						else
							alert('An error occurred while executing the script.');
						return;
					}

					let b = $('<button>', {type: 'button', text: 'Save All', class: 'btn btn-outline-primary btn-save'}).click(function(e){
						e.preventDefault();

						$('.btn-save').addClass('disabled');
						data.forEach(currentOffset=>saveOffset(currentOffset));
					});

					let $toReplace = $('.current_offset');
					$toReplace.get(0).remove();
					$toReplace.replaceWith(b);

					// Change modal body
					let $body = $('#modal-body').empty();
					data.forEach(currentOffset=>{

						let $cadrBody = $('<div>', {class: 'card-body'});
						let $cardButton = $('<button>', {type: 'button', class: 'btn btn-outline-info btn-save', text: 'Save'})
												.click(function(e){
													e.preventDefault();

													$(this).addClass('disabled');
													saveOffset(currentOffset);
												});
						let fileName = currentOffset.path.split('\\').pop();

						$body.append($('<div>',{ class: 'card'})
								.append(
									$('<table>', {class: 'table mt-3'})
									.append(
										$('<th>', {class: 'text-center pt-2', scope: 'col',  text: fileName}))
									.append(
										$('<th>', {scope: 'col'})
										.append($cardButton)))
								.append($cadrBody));

						currentOffset.offsets.forEach(offset=>$cadrBody.append($('<div>',{ text: offset})));
						$cadrBody.append($('<div>', {id: fileName}));
					});
				})
				.fail(conectionFail);
			});

			$modal.modal('show');

			function saveOffset(currentOffset){
				$.ajax({
					url:'/calibration/rest/current/save_offset',
					type: 'POST',
					contentType: "application/json",
					data: JSON.stringify(currentOffset),
					dataType: 'json',
					success: showUploadButton,
					error: showUploadButton
				});
			}
			function showUploadButton(pair){
				let id = '#' + pair.first.replace('.', '\\.');
				let $div = $(id);
				let module = pair.first.split('.')[0];

				if(pair.second=='Saved'){
					let btnUpload = $('<a>', {class: "btn btn-outline-success", href: '/calibration/rest/profile/upload?sn=' + serialNumber + '&module=' + module, text: 'Upload'})
					$div.append(btnUpload.click(function(e){
								e.preventDefault();
								$(this).addClass('disabled');
								upload(this);
							}))
						.append(
							$('<a>', {class: "btn btn-outline-secondary", href: '/calibration/rest/profile/package/' + (module==null ? serialNumber : module), target: '_blank', text: 'Get Package'}));
				}else{
					$div.attr('class', 'text-center text-danger');
					$div.text(pair.second);
					$div.parents('.card').find('.btn-save').removeClass('disabled');
				}
			}
		/*]]>*/
		//# sourceURL=current_offset.js
  		</script>
	</th:block>
	</div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</body>
</html>