<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal modal-lg" tabindex="-1" role="dialog">
	<th:block th:fragment="modal">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header row">
        			<h5 id="profileGain" class="modal-title ml-3 text-primary col-auto" th:text="'Gain: ' + ${gain} + ' dB'">Gain: 74 dB</h5>
        			<h5 class="modal-title text-primary col-auto">;</h5>
        			<h5 id="temperature" class="modal-title ml-3 text-primary col-auto" th:text="${temperature}">Temperature</h5>
        			<h5 class="modal-title text-primary col-auto">&#x2103; ;</h5>
        			<h5 id="dacValue" class="modal-title ml-3 text-primary col-1" th:text="${dac2}">Dac2</h5>
        			<h5 class="modal-title text-primary col-auto">;</h5>
        			<div class="input-group col">
        				<input type="number" id="setDacValue" class="form-control" placeholder="Dac 2" value="3000" th:value="${dac2}">
        				<button type="button" id="addRow" class="form-control btn btn-outline-secondary disabled" >Add Row</button>
        			</div>
<!-- Calibration settings -->
  					<div class="dropdown col-auto">
  						<button class="btn dropdown-toggle" type="button" id="dropdownSettingsButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
  						<div class="dropdown-menu" aria-labelledby="dropdownSettingsButton">
 							<div class="form-group row">
    							<label class="col-sm-6 col-form-label text-end" for="minValue">Min:</label>
    							<div class="col-sm-6">
    								<input type="number" class="form-control settings" id="minValue" placeholder="Min. Temperarue" value="-40" th:value="${settings.startValue}">
    							</div>
  							</div>
 							<div class="form-group row">
    							<label class="col-sm-6 col-form-label text-end" for="maxValue">Mac:</label>
    							<div class="col-sm-6">
    								<input type="number" class="form-control settings" id="maxValue" placeholder="Max. Temperarue" value="85" th:value="${settings.stopValue}">
    							</div>
  							</div>
  							<div class="form-group row">
    							<label class="col-sm-6 col-form-label text-end" for="step">Step:</label>
    							<div class="col-sm-6">
    								<input type="number" class="form-control settings" id="step" placeholder="DAC Step" value="50">
    							</div>
  							</div>
  							<div class="row">
    							<label class="col-sm-6 col-form-label text-end" for="fieldsCount">Fields:</label>
    							<div class="col-sm-6">
    								<input type="number" class="form-control settings" id="fieldsCount" placeholder="fields Count" value="4" th:value="${settings.fields}">
    							</div>
  							</div>
  							<div class="row">
    							<label class="col-sm-6 col-form-label text-end" for="gainOffset">Offset:</label>
    							<div class="col-sm-6">
    								<input type="number" class="form-control settings" id="gainOffset" placeholder="Gain Offset" value="40">
    							</div>
  							</div>
  							<div class="row">
  								<div class="col ps-5">
									<div class="form-check form-switch text-center">
										<input class="form-check-input" type="checkbox" role="switch" id="p1dB" th:checked="${settings.p1dB}">
										<label class="form-check-label" for="p1dB">P1dBt</label>
									</div>
								</div>
  							</div>
  							<div class="row">
  								<div class="col ps-5">
									<div class="form-check form-switch text-center">
										<input class="form-check-input" type="checkbox" role="switch" id="localPn" th:checked="${settings.localPn!=null ? settings.localPn : false}">
										<label class="form-check-label" for="localPn">Local PN</label>
									</div>
								</div>
  							</div>
   						</div>
					</div>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body">
      			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
	        		<button type="button" id="save" class="btn btn-outline-success disabled"
    					th:text="${#authentication.principal=='anonymousUser'} ? 'Save - Login required' : 'Save to Profile'"
    					th:disabled="${#authentication.principal=='anonymousUser'}">
    						Save to Profile
    				</button>
	        		<button type="button" id="calc" class="btn btn-outline-secondary disabled">Calculate Min., Max.</button>
	        		<button id="gainPmValue" type="button" class="btn btn-outline-primary">←PM</button>
	        		<button type="button" id="clear" class="btn btn-outline-secondary disabled">Clear</button>
	        		<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      				<div id="modalMessage" class="col-12"></div>
	    		</div>
    		</div>
  		</div>
  		<script th:inline="javascript">
			/*<![CDATA[*/
	
				$step = $('#step');
				$addRow = $('#addRow');
				$save = $('#save');
				$calc = $('#calc');
				var $setDacValue = $('#setDacValue');

			/*[# th:if="${message}!=null" ]*/
				alert(/*[[${message}]]*/ 'Message');
				throw new Error(/*[[${message}]]*/ 'Message');
			/*[/]*/
// Step
			var step = Cookies.get("dacStep");
			if(step)
				$step.val(step);

			$step.focusout(function() {
				
				var newValue = this.valueAsNumber;
				if(!newValue || newValue<1){
					$step.val(1);
					Cookies.remove("dacStep", { path: '' });
					return;
				}

				Cookies.set("dacStep", newValue, { expires: 7, path: '' });
			});

// Copy updated value to input field
			$('#dacValue').dblclick(function() {
				  var value = this.textContent;
				  $setDacValue.val(value);
			});

// Send changed DAC value to the Unit
			var channel = 'fcm_dac';
			$setDacValue.on('input', function(e){

				var newValue = this.valueAsNumber;
				var defaultValue = this.defaultValue;
				var doPost = false;
				
				if(defaultValue<newValue){
					if((newValue - defaultValue) == 1){
						let step = parseInt($step.val());
						newValue = parseInt(defaultValue) + step;
						doPost = true;
					}

				}else{
					if((defaultValue - newValue) == 1){
						let step = parseInt($step.val());
						newValue = parseInt(defaultValue) - step;
						doPost = true;
					}
				}

				if(newValue>4095)
					newValue = 4095;
				else if(newValue<0)
					newValue = 0;

				this.defaultValue = newValue;
				$(this).val(newValue);

				if(doPost)
					postNewValue(newValue);
			});

			function postNewValue(newValue){

				let devid = /*[[${devid}]]*/ 1;
				$.post('/calibration/rest/current/dac', {sn : serialNumber, devid: devid, value: newValue, channel: channel})
				.fail(function(error) {
					if(err)
						return;

					$modal.modal('hide');

					err = error;
					if(error.statusText!='abort'){

						$modal.modal('hide');

						conectionFail(error);
						err = null;
					};
	   			});
			}

			function update(){

				clearInterval(interval);

				//get value from unit
				interval = setInterval(function() {
							let devid = /*[[${devid}]]*/ 1;
							$.post('/calibration/rest/deviceDebug', {sn : serialNumber, devid: devid, command: 'regs', groupindex: '100', className: 'irt.components.beans.irt.Dacs'})
							.done(function(dacs){

								if(!dacs){
									$addRow.addClass('disabled');
									return;
								}

								var dac2 = dacs.DAC2;
								var index = dac2.indexOf('(');
								var value = dac2.substring(++index, dac2.length-1);
								$('#dacValue').text(value);

								var setDacValue = $setDacValue.val();
								if(setDacValue != value){

									if(channel == 'fcm_dac')
										channel = 'dac';

									else
										channel = 'fcm_dac';
								}


								// get Temperature
								$.post('/calibration/rest/calibrationInfo', {sn : serialNumber })
								.done(function(data){

									if(!data || !data.bias || !data.bias.temperature){
										login();
										return;
									}

									$addRow.removeClass('disabled');

									var temperature = data.bias.temperature;
									$temperature.text(temperature);

								})
								.fail(gainError);
							})
							.fail(gainError);
				}, 3000);
			}

			function gainError(error){
				if(err)
					return;

				$addRow.addClass('disabled');
				$modal.modal('hide');

				err = error;
				if(error.statusText!='abort'){

					conectionFail(error);
					err = null;
				};
			}
			function onAddRow(){

				var temperature = $temperature.text();
				var dacValue = $('#dacValue').text();

				if(!(temperature && dacValue)){
					alert('The input field cannot be empty.');
					return;
				}

				addRow(temperature, dacValue);
			}

			$addRow.click(onAddRow);

			var gainTable = Cookies.get(serialNumber + "_gainTable");
			if(gainTable && gainTable !== undefined){
				var array = JSON.parse(gainTable);
				array.forEach( row => {
					addRow(row.input, row.output, row.btr);
				});
			}

			function sortModalBody(){
			    var items = $('#modal-body').children().sort(function(a, b) {
			        var vA = parseFloat($(a).find('.input').text());
			        var vB = parseFloat($(b).find('.input').text());
			        return (vA < vB) ? -1 : (vA > vB) ? 1 : 0;
			    });
			    $('#modal-body').append(items);
			    storeTable();
			}

			function storeTable(){

			    var gainTable = [];
			    $('#modal-body').children().each(function(){

			    	const $row = $(this);
			    	const tableRow = {}
		    		tableRow.input = $row.find('.input').text();
		    		tableRow.output = $row.find('.output').text();
		    		gainTable.push(tableRow);

		    		tableRow.btr = {};
		    		$row.find('.btr-field').each(function(){

		    			 const $field = $(this);
		    			 const val = $field.val();
		    			 if(val){
		    				 const field = $field.attr('data-btr-field');
		    				 tableRow.btr[field] = val; 
		    			 }
		    		 });
			    });

				var json = JSON.stringify(gainTable);
				Cookies.set(serialNumber + "_gainTable", json, { expires: 30, path: '' });
			}

			function disableButtons(){

				var $body = $('#modal-body');
				var $children = $body.children();
				var length = $children.length;

				if(!length){

					$('#clear').addClass('disabled');
					$calc.addClass('disabled');
					$save.addClass('disabled');

					return 0;
				}

				$('#clear').removeClass('disabled');

				if(length>1)
					$calc.removeClass('disabled');

				else{
					$calc.addClass('disabled');
					$save.addClass('disabled');
		    		return;
		    	}

				var minTemp			 = parseFloat($('#minValue').val());
				var firstTemperatur	 = parseFloat($($children[0]).find('.input').text());

				var maxTemp			 = parseFloat($('#maxValue').val());
				var lastTemperatur	 = parseFloat($($children[--length]).find('.input').text());

				if(minTemp < firstTemperatur || maxTemp > lastTemperatur)
					$save.addClass('disabled');
				else{
					$calc.addClass('disabled');
					$save.removeClass('disabled');
				}

				return length;
			}

			function addRow(inputValue, outputValue, btr){

				const fieldsCount = $('#fieldsCount').val();
				const $gainInputs = addInputFields('Gain', fieldsCount, 'Gain', btr);
				const $inputRow = $('<div>', {class: 'col-12'}).append($gainInputs);

				const p1dB = $('#p1dB').is(':checked');
				if(p1dB)
					$inputRow.append(addInputFields('P1dB.', fieldsCount, 'P1dB', btr));

				$inputRow.append(addInputFields('P Sat.', fieldsCount, 'Psat', btr));

				$('<div>', {class: 'row bg-info bg-opacity-10 border border-info rounded m-1'})
				.append($('<div>', {class: 'col'}).append($('<span>', {text: 'Temp.°C:'})).append($('<b>', {class: 'input fw-bold bg-light ms-2 ps-5 pe-5', text: inputValue})))
				.append($('<div>', {class: 'col'}).append($('<span>', {text: 'DAC:'})).append($('<b>', {class: 'output fw-bold bg-light ms-2 ps-5 pe-5', text: outputValue})))
				.append($('<div>', {class: 'col-auto'}).append($('<button>', {class: 'btn btn-link', onclick: 'removeRow(this)'}).text('Remove')))
				.append($inputRow)
				.appendTo($('#modal-body'));

				sortModalBody();
				disableButtons();
				setTimeout(()=>$gainInputs.find('input:first').focus(), 1000);
			}

			function addInputFields(name, fieldsCount, rowIndex, btr){

				const $row = $('<div>', {class: 'row mb-2'});

				for(let i=0; i<fieldsCount; i++){
					const key = rowIndex + '.' + i;
					const $input = $('<input>', {type: 'number', placeholder: name, class: 'form-control btr-field', 'data-btr-field': key, step: 0.1}).keyup(moveAround).focus(onFocusGain);
					if(btr){
						const val = btr[key];
						if(val)
							$input.val(val);
					}

					$row.append($('<div>', {class: 'col'}).append($input));
				}

				return $row;
			}
			function removeRow(button){
				var parent = $(button).closest('.row').remove();
				disableButtons();
		    	storeTable();
			}

		    $('#clear').click(function(){
		    	$('#modal-body').empty();
				disableButtons();
		    });

		    $save.click(function(){

		    	var hasError = false;
		    	var prevInput;
		    	var array = [];
	    		const btr = {};
	    		btr.serialNumber = serialNumber;
	    		btr.data = {};

		    	$('#modal-body').find('.row.bg-info').each((index, el)=>{

		    		if(hasError)
		    			return;

					const $row = $(el);
		    		const input = $row.find('.input').text();

		    		if(prevInput && prevInput==input)
		    				hasError = true;

		    		if(hasError){
		    			alert('There is an error in this table.');
		    			return;
		    		}

		    		prevInput = input;
		    		const out = $row.find('.output').text();

		    		/*[# th:if="${inHertz}" ]*/
			    		input = parseInt(input*1000000000);
					/*[/]*/

					const tableRow = {input: input, output: out};
		    		
		    		$row.find('.btr-field').each((i, el)=>{

		    			 const val = el.value;
		    			 if(val){
		    				 const field = el.dataset.btrField;
		    				 btr.data[index + '.' + field] = val; 
		    			 }
		    		 });

		    		array.push(tableRow);
		    	});

		    	if(hasError || !array.length){
		    		alert('The Table is missing.');
	    			return;
		    	}

		    	const table = { serialNumber: serialNumber, name: 'Gain over temperature', values: array };

		    	postObject('/calibration/rest/profile/save', table)
				.done(function(data){

					if(data && data.content)
						alert(data.content);

					$save.addClass('disabled');
					$modal.modal('hide');
				})
				.fail(conectionFail);

		    	if(Object.keys(btr.data).length)
		    		postObject('/btr/rest/save', btr)
					.done(function(data){

						if(data && data.content)
							alert(data.content);
					})
					.fail(conectionFail);
		    });

		    $calc.click(function(){

		    	var $children = $('#modal-body').children();
		    	var length = $children.length;

		    	if(length<2){
					alert("Can't calculate Min., Max. values");
					return;
				}

// Calculate Min. value:
		    	var minTemperatur	 = parseFloat($('#minValue').val());
				var firstTemperatur	 = parseFloat($($children[0]).find('.input').text());

				if(minTemperatur < firstTemperatur){

					var secondTemperatur = parseFloat($($children[1]).find('.input').text());
					var rangeTemperatur	 = Math.max(firstTemperatur, secondTemperatur) - Math.min(firstTemperatur, secondTemperatur);
					var minRangeTemperatur = Math.max(minTemperatur, firstTemperatur) - Math.min(minTemperatur, firstTemperatur);

					var firstValue		 = parseFloat($($children[0]).find('.output').text());
					var secondValue		 = parseFloat($($children[1]).find('.output').text());
					var rangeValue		 = Math.max(firstValue, secondValue) - Math.min(firstValue, secondValue);

					if(!rangeValue || !rangeTemperatur || !minRangeTemperatur){
						alert("The table has an error.");

					}else{

						var oneDegreeValue	 = rangeValue/rangeTemperatur;
						var toAdd			 = minRangeTemperatur * oneDegreeValue;

						var newValue;
						if(firstValue>secondValue){
							newValue = firstValue + toAdd;
							if(newValue > 4095)
								newValue = 4095;
						}else{
							newValue = firstValue - toAdd;
							if(newValue < 0)
								newValue = 0;
						}

						addRow(minTemperatur, Math.round(newValue));
					}
				}

// Calculate Max. value:
			   	var maxTemperatur	 = parseFloat($('#maxValue').val());
				var lastTemperatur	 = parseFloat($($children[--length]).find('.input').text());
				var lastValue		 = parseFloat($($children[length]).find('.output').text());

				if(maxTemperatur > lastTemperatur){

					var previousTemperatur	 = parseFloat($($children[--length]).find('.input').text());
					var previousValue		 = parseFloat($($children[length]).find('.output').text());

					var rangeTemperatur	 = Math.max(lastTemperatur, previousTemperatur) - Math.min(lastTemperatur, previousTemperatur);
					var maxRangeTemperatur = Math.max(maxTemperatur, lastTemperatur) - Math.min(maxTemperatur, lastTemperatur);

					var rangeValue		 = Math.max(lastValue, previousValue) - Math.min(lastValue, previousValue);

					if(!rangeValue || !rangeTemperatur){
						alert("The table has an error.");
						return;
					}

					var oneDegreeValue	 = rangeValue/rangeTemperatur;
					var toAdd			 = maxRangeTemperatur * oneDegreeValue;

					var newValue;
					if(lastValue>previousValue){
						newValue = lastValue + toAdd;
						if(newValue > 4095)
							newValue = 4095;
					}else{
						newValue = lastValue - toAdd;
						if(newValue < 0)
							newValue = 0;
					}

					addRow(maxTemperatur, Math.round(newValue));
				}

				disableButtons();
			});

		    /*[# sec:authorize="hasAuthority('CALIBRATION_SETTINGS')"]*/
				$('#dropdownSettingsButton').on('hidden.bs.dropdown', function () {
					if(confirm('Do you want to save your changes to the database?')){

						const min = $('#minValue').val();
						const max = $('#maxValue').val();
						const filds = $('#fieldsCount').val();
						const p1dB = $('#p1dB').is(':checked');
						const localPn = $('#localPn').is(':checked');

						if(!(min && max)){
							alert('One of the values is missing.')
							return;
						}

						$.post('/calibration/rest/gain', {serialNumber: serialNumber, startValue: min, stopValue:  max, fields: filds, p1dB: p1dB, localPn: localPn })
    					.done(function(data){
    						if(data)
    							alert(data);
						})
						.fail(function(error) {
							if(error.statusText!='abort'){
								conectionFail(error);
							}
						});
					}
				});
			/*[/]*/

			getGainFromTemplate();
			function getGainFromTemplate(){
				const pn = $serialNumber.prop('title');
				$.get('btr/rest/template/gain', {pn: pn})
				.done(data=>{
					if(!data || !data.length){
						console.warn('Template not found.');
						return;
					}

					const typ = data.find(d=>d.includes('typ'));
					if(!typ)
						console.warn('The BTR template do not contains typical gain value.')

					const $profileGain = $('#profileGain');
					const min = data.find(d=>d.includes('min'));
					if(min)
						$profileGain.prop('title', 'Gain ' +  min);

					const profGain = parseFloat($profileGain.text().replace(/[^\d.-]/g, ''));
					const btrlGain = parseFloat(typ.replace(/[^\d.-]/g, ''));
					if(profGain ==btrlGain)
						return;

					if(confirm(`The Profile gain ( ${profGain} ) does not match the BTR gain ( ${btrlGain} ).\nIf you whant to put BTR gain in the profile, press OK button.`)){
						$.post('/calibration/rest/profile/save/property', {sn: serialNumber, property: 'zero-attenuation-gain', value: btrlGain})
						.done(profileMessage=>{
							if(profileMessage && profileMessage.message)
								alert(profileMessage.message);
							if(profileMessage.changeDon)
								$profileGain.text(`Gain: ${btrlGain} dB`);
						})
						.fail(function(error) {
							if(error.statusText!='abort'){
								var responseText = error.responseText;
									if(responseText)
										alert(error.responseText);
									else
										alert("Server error. Status = " + error.status)
							}
						});
					}
				})
				.fail(function(error) {
					if(error.statusText!='abort'){
					var responseText = error.responseText;
						if(responseText)
							alert(error.responseText);
						else
							alert("Server error. Status = " + error.status)
					}
				});
			}
			var $temperature;

			function setupModal(){

				$temperature = $('#temperature');
				$save = $('#save');
				$calc = $('#calc');
				$step = $('#step');
				$addRow = $('#addRow');
				$setDacValue = $('#setDacValue').on('keypress', function (e) {

					if(e.which === 13){	// Enter key
						 var newValue = $(this).val();
						 if($('#dacValue').text()==newValue)
						 	onAddRow();
						 else
							 postNewValue(newValue);
					 }
				});
				$('#gainOffset').focusout(e=>{
					const newValue = e.currentTarget.value;
					if(newValue)
						Cookies.set("gainOffset", newValue, { expires: 7, path: '' });
				});
				const gainOffset = Cookies.get("gainOffset");
				if(gainOffset)
					$('#gainOffset').val(gainOffset);
				$modal.on('shown.bs.modal', update);

				$modal.on('hide.bs.modal', function () {
					if (document.activeElement) 
			            document.activeElement.blur();
				});

				$modal.on('hidden.bs.modal', function () {
					clearInterval(interval);
					interval = undefined;
					err = null;
				});
				return true;
			}

			var notShift;
			var $modalMessage = $('#modalMessage');
			var storeTableTimeout;

			function moveAround(e){

				if(notShift)
					return;

				const $row = $(e.currentTarget).parents('.row.mb-2');
				const $children = $row.parent().children();
				let $inputs = $row.find('input');
				let index;
				let rowIndex;
				$inputs.get().some((el, i)=>{
					if(el===e.currentTarget){
						index = i;
						return true;
					}
					return false;
				});

				if(index === undefined)
					return;

				$inputs.get()
				const code = e.originalEvent.code;
				switch(code){

				case 'ArrowLeft':
					e.preventDefault();
					if(--index<0)
						return;
					break;

				case 'ArrowRight':
					e.preventDefault();
					if(++index>=$inputs.length)
						return;
					break;

				case 'ArrowUp':
					e.preventDefault();
					$children.get().some((el, i)=>{
						if(el===$row[0]){
							rowIndex = i;
							return true;
						}
						return false;
					});
					if(--rowIndex<0)
						return;
					$inputs = $($children[rowIndex]).find('input');
					break;

				case 'ArrowDown':
					e.preventDefault();
					$children.get().some((el, i)=>{
						if(el===$row[0]){
							rowIndex = i;
							return true;
						}
						return false;
					});
					if(++rowIndex>=$children.length)
						return;
					$inputs = $($children[rowIndex]).find('input');
					break;

				case "ControlLeft":
				case "ControlRight":
					notShift = true;
					setTimeout(()=>notShift=false, 10000);
					break;

				case "Enter":
				case "NumpadEnter":
					$("#gainPmValue").click();
					break;

				default:
					$modalMessage.text('');
					clearTimeout(storeTableTimeout);
					storeTableTimeout = setTimeout(function(){storeTable();$modalMessage.text('Saved in cookies.');}, 10*60*1000)
					return;
				}

				$inputs[index].focus();
			}
			var selectedField;
			function onFocusGain(e){
				const $inputs = $('.modal-body').find('input').css('background-color','');
				selectedField = e.currentTarget;
				selectedField.style.backgroundColor = "yellow";
			}
			$('#gainPmValue').click(()=>{

				// Return focus to the selected field
				if(selectedField)
					selectedField.focus();

				outputGet(data=>{
					if(!data.getAnswer)
						return;

					const toFixed = dataToValue(data);
					if(!toFixed)
						return;

					if(!selectedField){
						alert('Select one of the text fields.');
						return;
					}
					if(selectedField.placeholder === 'Gain')
						selectedField.value = parseFloat(toFixed) + parseFloat($('#gainOffset').val());
					else
						selectedField.value = toFixed;
				});
			});
		/*]]>*/
		//# sourceURL=gain.js
  		</script>
	</th:block>
	</div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</body>
</html>