<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal" tabindex="-1" role="dialog">
	<th:block th:fragment="converter">
  		<div class="modal-dialog modal-xl">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 class="modal-title ml-3 text-primary col">Converter Input Power</h5>
<!-- Calibration settings -->
  					<div class="dropdown col-auto">
  						<button class="btn dropdown-toggle" type="button" id="dropdownSettingsButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
					</div>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body">
      				<canvas id="ipChart"></canvas>
      			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
      				<div class="row">
      					<div class="form-floating col">
      						<select id="ipComPorts" class="form-select col"></select>
      						<label for="ipComPorts">Unit Serial Port</label>
      					</div>
      					<div class="form-floating col">
 	     					<input id="ipTool" type="number" class="form-control" placeholder="Tool">
      						<label for="ipTool">Tool Value</label>
      					</div>
      					<div class="form-floating col">
	      					<input id="ipUnit" type="number" class="form-control-plaintext" placeholder="Unit" readonly="readonly">
      						<label for="ipUnit">Unit Value</label>
      					</div>
      					<div class="form-floating col">
	      					<input id="ipStep" type="number" class="form-control" placeholder="Step" value="1">
      						<label for="ipUnit">Step</label>
      					</div>
      					<div class="form-floating col">
	      					<input id="ipMax" type="number" class="form-control" placeholder="Max Value" value="0">
      						<label for="ipMax">Max. Cal. Value</label>
      					</div>
      				</div>
	        		<button type="button" id="ipStart" class="col btn btn-outline-success form-control disabled">Start</button>
	        		<button type="button" id="ipInfo" class="col btn btn-outline-primary form-control disabled">Info</button>
	        		<button type="button" class="col btn btn-outline-secondary form-control" data-bs-dismiss="modal">Close</button>
	    		</div>
    		</div>
  		</div>
  		 <script type="module" src="../../static/js/modules/calInputPower.mjs" th:src="@{/js/modules/calInputPower.mjs}"></script>
  		 <script type="module" src="../../static/js/modules/calInputPowerE.mjs" th:src="@{/js/modules/calInputPowerE.mjs}"></script>
  		 <script type="module" src="../../static/js/modules/calInputPowerF.mjs" th:src="@{/js/modules/calInputPowerF.mjs}"></script>
	</th:block>
	</div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</body>
</html>