<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal" tabindex="-1" role="dialog">

<!-- Auto calibration by Unit Gain -->
	<th:block th:fragment="opAuto">
 		<div class="modal-dialog">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 id="opInputValue" class="modal-title ml-3 text-primary"></h5>
        			<h5 class="modal-title text-primary">-</h5>
        			<input type="number" id="op_outputValue" placeholder="Output Power" value="30" th:value="${settings.startValue}">
        			<button type="button" id="btnStartStop" class="form-control btn btn-sm btn-outline-primary disabled">Start</button>
<!-- Calibration settings -->
  					<div class="dropdown col-auto">
  						<button class="btn dropdown-toggle" type="button" id="dropdownSettingsButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
  						<div class="dropdown-menu" aria-labelledby="dropdownSettingsButton">
  							<div class="form-group row">
    							<label class="col-sm-5 col-form-label text-end" for="minVal">Min.:</label>
    							<div class="col-sm-7">
    								<input type="number" class="form-control settings" id="minVal" placeholder="Minimum Value" value="30" th:value="${settings.startValue}">
    							</div>
  							</div>
  							<div class="form-group row">
    							<label class="col-sm-5 col-form-label text-end" for="maxVal">Max.:</label>
    							<div class="col-sm-7">
    								<input type="number" class="form-control settings" id="maxVal" placeholder="Maximum Value" value="46" th:value="${settings.stopValue}">
    							</div>
  							</div>
  							<div class="form-group row">
    							<label class="col-sm-5 col-form-label text-end" for="stepVal">Step:</label>
    							<div class="col-sm-7">
    								<input type="number" class="form-control settings" id="stepVal" placeholder="Step" value="3">
    							</div>
  							</div>
  							<div class="form-group row" th:fragment="power_source">
    							<label class="col-sm-5 col-form-label text-end" for="sensorName" title="Sensor Name">Name:</label>
    							<div class="col-sm-7">
    								<select class="form-control settings" id="sensorName">
    									<option value="power1">Power 1</option>
    									<option value="power2" th:selected="${settings.name}==power2">Power 2</option>
    								</select>
    							</div>
  							</div>
   						</div>
					</div>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body">
					<canvas id="ipChart"></canvas>      			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
      				<div class="row">
      					<div class="col">
							<div class="input-group mb-3">
								<span class="input-group-text" id="powerOffset">Offset:</span>
								<input id="powerOffset" type="number" class="form-control" placeholder="Offset" aria-label="Offset" aria-describedby="powerOffset" value="0.3">
							</div>
      					</div>
	 					<div class="col">
	        				<button type="button" id="save" class="btn btn-outline-primary disabled form-control">Save</button>
	        			</div>
	 					<div class="col">
	        				<button type="button" id="calc" class="btn btn-outline-secondary disabled form-control">Calculate</button>
	        			</div>
	 					<div class="col">
	        				<button type="button" id="clear" class="btn btn-outline-secondary disabled form-control">Clear</button>
	        			</div>
	 					<div class="col">
	        				<button type="button" class="btn btn-outline-secondary form-control" data-bs-dismiss="modal">Close</button>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="col">
	        				<div class="form-floating">
      							<input type="text" class="form-control" id="toolVal" placeholder="Input">
      							<label for="toolVal">Input</label>
	        				</div>
	        			</div>
	        			<div class="col">
	        				<div class="form-floating">
      							<input type="text" class="form-control" id="outputValue" placeholder="Output" readonly="readonly">
      							<label for="outputValue">Output</label>
	        				</div>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="card">
							<h5 class="card-header">Input Power Limits</h5>
							<div class="card-body">
								<div class="row">
									<div class="col">
	        							<div class="form-floating">
      										<input type="text" class="form-control" id="inputMin" placeholder="Input Min. Value">
      										<label for="inputMin">Min.</label>
	        							</div>
									</div>
									<div class="col">
	        							<div class="form-floating">
      										<input type="text" class="form-control" id="inputMax" placeholder="Input Max. Value">
      										<label for="inputMin">Max.</label>
	        							</div>
									</div>
								</div>
							</div>
						</div>
	        		</div>
	    		</div>
    		</div>
  		</div>
  		<script th:inline="javascript">
			/*<![CDATA[*/

			var hasStarted;
			var opInterval;
			var byInput =  /*[[${byInput}]]*/ true;

			var powerOffset;
			var $powerOffset = $('#powerOffset');
			var $minVal = $('#minVal');
			var $inputValue = $('#inputValue');
			var $outputValue = $('#outputValue');
			var $opInputValue = $('#opInputValue');
			var $btnStartStop = $('#btnStartStop').click(e=>{if(triggerText(e)) start(); else stop();});

			function start(){
				if(hasStarted){
					console.warn('Start skipped.');
					return;
				}

				if(intervalPM)
					intervalPM = clearInterval(intervalPM);

				// Power Offset
				$powerOffset.prop('disabled', true);
				const po = $powerOffset.val();
				if(po)
					powerOffset = parseFloat(po);
				else{
					powerOffset = 0.3;
					$powerOffset.val(powerOffset);
				}

				hasStarted = true;
				opInterval = setInterval(measur, 3000);
			}

			function stop(){
				hasStarted = false;
			}

			var waitTool;
			var calibrationStatus;
			function measur(){

				console.log('measur: ' + waitTool);

				// stop btn pressed
				if(!hasStarted)
					opInterval = clearInterval(opInterval);

				// an error occurred
				if($toastContainer.children().length){
					$modal.modal('hide');
					alert('Can not get Tool data.');
					console.warn('Can not get Tool data.');
					return;
				}

				switch(waitTool){

				default:
				case 'Power Meter':
					powerMeter();
					const outputValue = $outputValue.val();
					if(outputValue)
						setInput(outputValue);
					break;

				case 'Input':
				}					
			}

			function triggerText(e){
				const classList = e.currentTarget.classList;
				switch(e.currentTarget.innerText){
				case 'Start':
						e.currentTarget.innerText = 'Stop';
						classList.remove('btn-outline-primary');
						classList.add('btn-outline-danger');
						classList.remove('disabled');
					return true;
				case 'Stop':
					classList.add('disabled');
					setTimeout(()=>{
						e.currentTarget.innerText = 'Start';
						classList.remove('btn-outline-danger');
						classList.add('btn-outline-primary');
					}, 1000);
					return false;
				default:
					console.log(e.currentTarget.innerText);
				}
			}

			function readADC(){if(buzy)return;buzy = true;$.post('/calibration/rest/calibrationInfo',{sn:serialNumber}).done(function(calInfo){if(!calInfo){$btnStartStop.addClass('disabled');buzy = false;return;}
				if(!calInfo.bias){
					login();
					$btnStartStop.addClass('disabled');
					buzy = false;
					return;
				}
				const name = $sensorName.val();if(calInfo.bias[name]){let value = calInfo.bias[name].value;if(parseInt($opInputValue.text()) != value)$opInputValue.text(value);$btnStartStop.removeClass('disabled');}else{$btnStartStop.addClass('disabled');}buzy = false;}).fail(function(error){if(err){buzy = false;return;}$modal.modal('hide');err = error;if(error.statusText!='abort'){conectionFail(error);err = null;};buzy = false;});
			}

			function setInput(outputValue){

				switch(calibrationStatus){
				default:
					setMin(outputValue);
				}
			}

			function setMin(outputValue){

				const toolVal = $toolVal.val();
				const inputPower = $inputPower.val();
				 if(!toolVal){
					if(inputPower)
						$toolVal.val(inputPower);
					else{
						f_toolValue();
						return;
					}
				}
				const minVal = parseFloat($minVal.val());
				const power = parseFloat(outputValue) + powerOffset;
				const step = (minVal - power)/2;
				$toolVal.val(toolVal - step);
				f_toolValue();
			}

			var pmCount = 0;
			function powerMeter(){

				if(pmCount > 10){
					pmCount = 0;
					waitTool = null;
				}
				if(waitTool === 'Power Meter'){
					const tv = $outputToolValue.val();
					if(tv){
						waitTool = null;
						$outputValue.val(tv);
						pmCount = 0;
					}else
						++pmCount;
					
					return;
				}
				$outputValue.val('');
				$outputGet.click();
				waitTool = 'Power Meter';			
			}

			function setupModal(loaded){

				if((byInput && !$inputComPorts.val()) || !$outputComPorts.val()){
					alert('You must select the serial port of the instrument.');
					$modal.modal('hide');
					return false;
				}

				if(loaded)
					return true;

				setTimeout(()=>{
					f_toolValue();
					setTimeout(()=>$toolVal.val($inputPower.val()), 300);
				}, 1000);

				init();	// from js/serial/calModalInit.js
				$sensorName = $('#sensorName');
				$modal.on('shown.bs.modal', e=>{
					buzy = false;
					err = waitTool = null;
					interval = setInterval(readADC, 1000);
					intervalPM = setInterval(powerMeter, 3000);
				})
				.on('hide.bs.modal', ()=>{
					$btnStartStop.text('Start').removeClass('btn-outline-danger').addClass('btn-outline-primary disabled');
					interval = clearInterval(interval);
					intervalPM = clearInterval(intervalPM);
					opInterval = clearInterval(opInterval);
				});

				return true;
	  		}

			/*]]>*/
			//# sourceURL=outputPowerAuto.js
  		</script>
	</th:block>
	</div>

<th:block th:replace="components :: scripts">
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</th:block>
</body>
</html>