<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal" tabindex="-1" role="dialog">

<!-- Auto calibration by Unit Gain -->
	<th:block th:fragment="byGain">
		<th:block th:replace="calibration/output_power :: outputPower">
		</th:block>
	</th:block>

<!-- Auto calibration by Input Power -->
	<th:block th:fragment="byInput">
		<th:block th:replace="calibration/output_power :: outputPower"></th:block>
  		<script  type="application/javascript">
			/*<![CDATA[*/

				let minValue	= $('#minValue').val();
				let maxValue	= $('#maxValue').val();
				let step		= $('#step').val();
				let $input		= $('<div>', {class: 'col'});
				let $output		= $('<div>', {class: 'col'});
				let $frequ		= $('<div>', {class: 'col'});
				let $power		= $('<div>', {class: 'col'});

				$('.modal-footer')
				.append(
						$('<div>', {class: 'row text-center',  style:'width:100%;'})
						.append($input)
						.append($frequ)
						.append($power)
						.append($output)
				);

				// Unit Output Power Change
				let outputPower;
				$('#outputValue').on('DOMSubtreeModified', function () {
					if(this.innerText){
						outputPower = parseFloat(this.innerText);
						$output.text(this.innerText) + ' dBm';
					}
				});
				outputGet();

				// Unit Input Power ON/OFF
				let $inputOutputBtn		 = $('#inputOutputBtn');	// Button to set source output ON/OFF
				let $inputOutput = $('#inputOutput');
				let output;
				$inputOutput.change( function () {				// Source output ststus.
					output = $inputOutput.val();
					$input.text($(this).find('option:selected').text());
				});

				// Unit Input Frequency
				let $inputFrequencyBtn	 = $('#inputFrequencyBtn');	// Set Frequency BUTTON
				$('#inputFrequencyUnit').val('MHZ');// Frequency UNIT
				$('#inputFrequency').val('')
				.change( function () {				// Source Frequency value
					$frequ.text(this.value + ' MHz');
				});
				$inputFrequencyBtn.click();

				//Unit Input Power Value
				let $inputPowerBtn		 = $('#inputPowerBtn');		// Set Output Power BUTTON
				let $inputPower			 = $('#inputPower');		// Output Power VAlue
				.change( function () {
					inputPower = this.value;
					$power.text(this.value + ' dBm');
				});

				let intervalByInputPower;
				$modal.on('shown.bs.modal', function (e) {
					getAllByInputPower();
					intervalByInputPower = setInterval(calibrateByInputPower, 1000);
				});
				$modal.on('hidden.bs.modal', function () {
					clearInterval(intervalByInputPower);
				});

				let inputPowerSet; 
				function calibrateByInputPower(){

					outputGet();

					if(!outputPower || !inputPower)
						return;

					if(output != 1){	// output != ON
						$inputOutput.val(1);
						$inputOutputBtn.click();
						return;
					}

					let set = inputPower - (outputPower - minValue);

					if(!inputPowerSet || !(set > inputPowerSet - 0.3 && set < inputPowerSet + 0.3)){
						inputPowerSet = set;
						$inputPower.val(inputPowerSet);
						$inputPowerBtn.click();
					}
				}
				function getAllByInputPower(){

					$inputOutput.children(":first").prop('selected', true);
					$inputOutputBtn.click();

					$inputPower.val('');
					$inputPowerBtn.click();
				}
			/*]]>*/
			//# sourceURL=outputPowerByInput.js
  		</script>
	</th:block>
	</div>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</body>
</html>