<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IRT Bom.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" data-integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" data-crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

<!-- Modal Message -->
	<div id="modal" class="modal modal-lg" tabindex="-1" role="dialog">
	<th:block th:fragment="modal">
  		<div class="modal-dialog modal-xl">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 class="modal-title ml-3 text-primary" th:text="${serialNumber} + ' - Time Line'">Gain: 74 dB</h5>
        			<h6 id="lastPoint" class="modal-title ml-3 text-success" ></h6>
<!-- X Button -->
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
 <!-- Modal Body -->
      			<div id="modal-body" class="modal-body">
      				<canvas id="powerChart" style="width:100%;"></canvas>
      			</div>
 <!-- Modal Footer -->
      			<div class="modal-footer">
       				<div class="form-floating mb-3">
 	     				<input type="number" id="sensitivity" class="form-control" value="0.5">
        				<label for="sensitivity">Sensitivity (+/- dB)</label>
 	     			</div>
 	     			<div id="radioButtons">
						<input name="testBy" id="byPM" type="radio" class="btn-check" autocomplete="off" data-property="power" data-unit= "dBn">
						<label for="byPM" class="btn btn-outline-primary" title="By Power Meter">←PM</label>
						<input name="testBy" id="byPower" type="radio" class="btn-check" autocomplete="off" checked="checked" data-property="data.outpower" data-unit= "dBn">
						<label for="byPower" class="btn btn-outline-primary">By Power</label>
					</div>
	        		<button type="button" id="restart" class="btn btn-outline-success">Restart</button>
	        		<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
	    		</div>
    		</div>
  		</div>

	</th:block>
	</div>

<th:block th:replace="~{components :: scripts}">
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="application/javascript" src="../../static/js/irt.js" th:src="@{/js/irt.js}"></script>
</th:block>
</body>
</html>