body {
	background-image: url('/images/calibration.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(255,255,255,0.9);
	background-blend-mode: lighten;
}
.hover:hover {
	 background-color: yellow;
	 cursor:pointer;
}
.hover-light:hover {
	 background-color: LightGrey;
	 cursor:pointer;
}
.hover-almond:hover {
	 background-color: BlanchedAlmond;
	 cursor:pointer;
}
.odd{
	background-color: rgb(240, 240, 225);
}
.pre-line{
	white-space: pre-line;
}
.bg_alarm{
	background-color: red;
}
.dashed_border{
	  border-left:1px dashed;
}
.border_gray{
 	border-color: gray;
}
.border_white{
 	border-color: white;
}
.bg_tropo{
	background-image: url("/images/tropo_rf.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: rgba(255,255,255,0.7);
	background-blend-mode: lighten;
}
.txt_blue{
	color: blue;
}
.bg_white{
	background-color: white;
}
.w100{
	height: 100%;
	width: 100%;
}