.hover:hover {
	 background-color: yellow;
	 cursor:pointer;
}
.hover-light:hover {
	 background-color: LightGrey;
	 cursor:pointer;
}
.hover-almond:hover {
	 background-color: BlanchedAlmond;
	 cursor:pointer;
}
.odd{
	background-color: rgb(240, 240, 225);
}
.pre-line{
	white-space: pre-line;
}
.bg_alarm{
	background-color: red;
}
.dotted_border{
	border-left-style: double;
}
.border_gray{
 	border-color: blue;
}
.border_white{
 	border-color: white;
}
.form-floating label[for]:not([for=""]){
	color: LightSteelBlue;
}