.hover:hover {
	 background-color: yellow;
	 cursor:pointer;
}
.hover-light:hover {
	 background-color: LightGrey;
	 cursor:pointer;
}
.hover-almond:hover {
	 background-color: BlanchedAlmond;
	 cursor:pointer;
}
.odd{
	background-color: rgb(240, 240, 225);
}