.hover:hover {
	 background-color: yellow;
	 cursor:pointer;
}
.hover-light:hover {
	 background-color: LightGrey;
	 cursor:pointer;
}
.hover-almond:hover {
	 background-color: BlanchedAlmond;
	 cursor:pointer;
}
.odd{
	background-color: rgb(240, 240, 225);
}
.pre-line{
	white-space: pre-line;
}
.bg_alarm{
	background-color: red;
}
.dotted_border{
	  border-bottom:2px dashed;
}
.border_blue{
 	border-color: blue;
}
.border_white{
 	border-color: white;
}
.bg_tropo{
	background-image: url("../../static/images/tropo_rf.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255,255,255,0.7);
	background-blend-mode: lighten;
}
.txt_blue{
	color: blue;
}
.bg_white{
	background-color: white;
}