<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <title>IRT Components</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
<th:block th:fragment="bootstrapLink">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</th:block>
    <link rel="stylesheet" href="../static/css/components.css" th:href="@{/css/components.css}">
    <link rel="stylesheet" href="../static/css/1c.css" th:href="@{/css/1c.css}">
</head>
<body>

<!-- Navigation -->
	<nav class="nav fixed-top bg-light">

<!-- Navigation Dropdown Menu -->
			<div class="dropdown nav-item col-auto" th:fragment="dropdownMenu">
  				<button class="btn dropdown-toggle" th:classappend="${#authentication.name == 'anonymousUser' ? 'btn-light' : 'btn-outline-success'}" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name == 'anonymousUser' ? '' : #authentication.name}"></button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    				<a id="miComponents" class="dropdown-item" href="components.html" th:href="@{/}">Components</a>
    				<a id="miBOMs" class="dropdown-item" href="bom.html" th:href="@{/bom}">BOMs</a>
<!--     				<a id="miInventory" class="dropdown-item" href="inventory.html" th:href="@{/inventory}">Inventory</a> -->
    				<a id="miOldDB" class="dropdown-item" href="old.html" th:href="@{/old}">Old DB</a>
    				<a id="miECOs" class="dropdown-item" href="eco.html" th:href="@{/eco}">ECOs</a>
    				<a id="miRMAs" class="dropdown-item" href="rma.html" th:href="@{/rma}">RMAs</a>
    				<a id="miCalibration" class="dropdown-item" href="calibration.html" th:href="@{/calibration}">Calibration</a>
<!--     				<a id="miWOs" class="dropdown-item" href="wo.html" th:href="@{/wo}">Production</a> -->
    				<a id="miProduction" class="dropdown-item" href="production.html" th:href="@{/production}">Production</a>
    				<a sec:authorize="isAuthenticated()" id="miWIP" class="dropdown-item" href="wip.html" th:href="@{/wip}">WIP</a>
    				<div class="dropdown-divider"></div>
    				<div sec:authorize="isAuthenticated()" class="dropdown-item">
<!-- Log out -->
						<form th:action="@{/logout}" method="post">
            				<input type="submit" class="btn-sm btn-block" value="Sign Out"/>
            			</form>
        			</div>
  					<div sec:authorize="!isAuthenticated()" class="dropdown-item">
<!-- Log in -->
						<form name="blablabla" th:action="@{/login}" method="post">
  							<input type="text" class="form-control" name="username" placeholder="User Name" autocomplete="username">
							<input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password">
							<input id="login" type="submit" class="btn-sm btn-block" value="Log in"/>
            			</form>
					</div>
				</div>
  			</div>

		<div class="nav-item col">
  		<form class="row">
<!-- Part Number search-->
  			<div class="input-group col">
      			<label for="SKU" class="input-group-text">PN</label>
      			<input id="SKU" type="text" class="form-control searchInput" placeholder="Part Number" aria-label="Part Number">
    		</div>

 <!--Mfr PN search -->
  			<div class="input-group ml-1 col">
      			<label for="MfrPNs" class="input-group-text">Mfr PN</label>
      			<input id="MfrPNs" type="text" class="form-control searchInput" placeholder="Manufacture PN" aria-label="Manufacture PN">
    		</div>

 <!-- Description search -->
  			<div class="input-group ml-1 col">
       			<span for="Description" class="input-group-text">Description</span>
      			<input id="Description" type="text" class="form-control searchInput" placeholder="Description" aria-label="Description">
    		</div>

  		</form>
		</div>
	</nav>

<!-- Content -->
	<div id="content" class="container-fluid mt-5" th:remove="body">
		<th:block th:fragment="content">
			<div class="row mr">
				<div class="col-sm-2"><strong>Part Number</strong></div>
				<div class="col-sm-2"><strong>Mfr PN</strong></div>
				<div class="col-sm"><strong>Description</strong></div>
			</div>
			<div class="row hover mr clickable"
					 	th:if="${ components }!=null"
					 	th:each=" component, stat : ${ components }"
					 	th:id="${ component.key }"
					 	th:with="obsolete = ${component.obsolete!=null ? component.obsolete : false }"
					 	th:title="${obsolete}?'Obsolete'"
					 	th:classappend="${stat.odd?'odd ':''} + ${obsolete?'text-danger':''}">
				<div class="col-sm-2 partNumber" th:text="${ component.partNumber }"><strong>Part Number</strong></div>
				<div class="col-sm-2 mfrPN" th:text="${ component.mfrPN }"><strong>Mfr PN</strong></div>
				<div class="col-sm description" th:text="${ component.description }"><strong>Description</strong></div>
				<div sec:authorize="hasAuthority('ECO')" class="col-auto"><button class="btn btn-outline-secondary">Use</button></div>
			</div>
			<div id="searchEnd" th:if="${end}">*** END ***</div>
  			<script type="application/javascript">
				/*<![CDATA[*/

				$('.clickable').click(function(e){

					var target = e.target;

					if(target.nodeName == 'BUTTON'){

						var row = target.parentNode.parentNode;
						btnUseClick(row);

					}else{

						var id = target.parentNode.id;
						onClick(id);
					}
				});
				/*]]>*/
				//# sourceURL=componentsContent.js
  			</script>
		</th:block>
	</div>

<!-- Modal Message -->
	<div id="modal" class="modal fade" tabindex="-1" th:fragment="componentData">
  		<div class="modal-dialog">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 id="modal_title" class="modal-title ml-3 text-primary">Modal title</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
      			<div id="modal-body" class="modal-body">
        			<p>Modal body text goes here.</p>
      			</div>
      			<div class="modal-footer">
	        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    		</div>
    		</div>
  		</div>
	</div>
<th:block th:fragment="scripts">
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.min.js"></script>
	<script type="application/javascript" sec:authorize="isAuthenticated()">
	/*<![CDATA[*/
		function testLogin(){

			$.post('/components/test-login')
			.done(function(loggedIn){
				if(loggedIn === true){
					setTimeout(testLogin, 10*60*1000);
					return;
				}
				alert('Your login has expired.\nRefresh this page and log in again.');
			})
			.fail(function(error) {
				alert('Connection error.\nTry to refresh this page.');
			});
		}
		setTimeout(testLogin, 1000);
	/*]]>*/
	//# sourceURL=testLogin.js
	</script>
</th:block>
	<script type="application/javascript" src="../static/js/irt.js" th:src="@{/js/irt.js}"></script>
	<script type="application/javascript" src="../static/js/components.js" th:src="@{/js/components.js}"></script>
	<script type="application/javascript">
	/*<![CDATA[*/
		$('#miComponents').addClass('active');
	/*]]>*/
	</script>
</body>
</html>