<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <title>Old Database.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
<th:block th:replace="components :: bootstrapLink">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</th:block>
    <link rel="stylesheet" href="../static/css/components.css" th:href="@{/css/components.css}">
</head>
<body>

	<nav class="navbar fixed-top navbar-light bg-light row">
 
<!-- Navigation Dropdown Menu from components.html -->
		<div class="dropdown" th:replace="components :: dropdownMenu">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
  			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    			<a class="dropdown-item" href="components.html" th:href="@{/}">Components</a>
    			<a class="dropdown-item" href="bom.html" th:href="@{/bom}">BOMs</a>
  			</div>
		</div>

		<div class="nav-item col">
  		<form class="row">

<!-- Group -->
  			<div class="input-group col">
      			<label for="pnType" class="input-group-text">Group</label>
      			<select id="pnType" class="form-control">
      				<option th:each="pnType : ${ pnTypes }"
      						th:value="${ pnType.id }"
      						th:text="${ pnType.name }"></option>
      			</select>
    		</div>

<!-- Name -->
  			<div class="input-group col">
      			<label for="pnName" class="input-group-text">Name</label>
      			<select id="pnName" class="form-control">
      			</select>
    		</div>

<th:block th:remove="all">
<th:block th:fragment="pcb">

 <!-- Subtype -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Subtype</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option th:each=" subtype, stat : ${ subtypes }" th:value="${ subtype.code }" th:text="${ subtype.type }"></option>
       			</select>
   			</div>
			<script>
				$('.onchange').on('change', function(){
					toPartNumber();
				});
			</script>
</th:block>

<th:block th:fragment="machinning">

 <!-- Machining -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Machining</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="M">Machining</option>
       				<option value="S">Sheet</option>
       			</select>
   			</div>

 <!-- BUCs -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">BUC</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="">Do not use</option>
       				<option value="A">AntBUC</option>
       				<option value="F">FemtoBUC</option>
       				<option value="K">KiloBUC</option>
       				<option value="P">PicoBUC</option>
       				<option value="R">Rack-Mount</option>
       			</select>
   			</div>

 <!-- Treatment -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype3" class="input-group-text">Treatment</label>
       			<select id="pnSubtype3" class="form-control onchange">
       				<option value="">Do not use</option>
       				<option value="PBL">Black Paint</option>
       				<option value="PB">Blue Paint</option>
       				<option value="C">Clear Iridite</option>
       				<option value="PT">Desert Tan</option>
       				<option value="G">Gold Plated</option>
       				<option value="PG">Green Paint</option>
       				<option value="N">Plated Nickel</option>
       				<option value="S">Silver Plated</option>
       				<option value="R">ROW</option>
       				<option value="PW">White Paint</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="wall">

 <!-- Machining -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Machining</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="M">Machining</option>
       				<option value="S">Sheet</option>
       			</select>
   			</div>

 <!-- RF/Unit -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">RF/UNIT</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="U">UNIT</option>
       				<option value="R">RF</option>
       			</select>
   			</div>

 <!-- Treatment -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype3" class="input-group-text">Treatment</label>
       			<select id="pnSubtype3" class="form-control onchange">
       				<option value="">Do not use</option>
       				<option value="PBL">Black Paint</option>
       				<option value="PB">Blue Paint</option>
       				<option value="C">Clear Iridite</option>
       				<option value="PT">Desert Tan</option>
       				<option value="G">Gold Plated</option>
       				<option value="PG">Green Paint</option>
       				<option value="N">Plated Nickel</option>
       				<option value="S">Silver Plated</option>
       				<option value="R">ROW</option>
       				<option value="PW">White Paint</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="frontPanel">

 <!-- Machining -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Machining</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="M">Machining</option>
       				<option value="S">Sheet</option>
       			</select>
   			</div>

 <!-- Size -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">Size</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="1U">1U</option>
       				<option value="2U">2U</option>
       				<option value="3U">3U</option>
       				<option value="4U">4U</option>
       				<option value="5U">5U</option>
       			</select>
   			</div>

 <!-- Treatment -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype3" class="input-group-text">Treatment</label>
       			<select id="pnSubtype3" class="form-control onchange">
       				<option value="">Do not use</option>
       				<option value="PBL">Black Paint</option>
       				<option value="PB">Blue Paint</option>
       				<option value="C">Clear Iridite</option>
       				<option value="PT">Desert Tan</option>
       				<option value="G">Gold Plated</option>
       				<option value="PG">Green Paint</option>
       				<option value="N">Plated Nickel</option>
       				<option value="S">Silver Plated</option>
       				<option value="R">ROW</option>
       				<option value="PW">White Paint</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="inserts">

 <!-- Machining -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Machining</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="M">Machining</option>
      				<option value="S">Sheet</option>
        			</select>
   			</div>

 <!-- Material -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">Material</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="A">Aluminum</option>
       				<option value="C">Copper</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="heatsinks">

 <!-- Machining -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnMachining" class="input-group-text">Machining</label>
       			<select id="pnMachining" class="form-control onchange">
       				<option value="M">Machining</option>
       				<option value="SK">Skived</option>
       			</select>
   			</div>

 <!-- For -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnBuc" class="input-group-text">For</label>
       			<select id="pnBuc" class="form-control onchange">
       				<option value="P">Power Supply</option>
       				<option value="R">RF</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="wg">

 <!-- Dimension -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Dimension</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="WR28">WR28</option>
       				<option value="WR62">WR62</option>
       				<option value="WR75">WR75</option>
       				<option value="WR137">WR137</option>
       				<option value="WR187">WR187</option>
       			</select>
   			</div>

 <!-- Type -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">Type</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="">Do not use</option>
       				<option value="F">Flexible</option>
       				<option value="SP">Spear</option>
       				<option value="S">Step</option>
       				<option value="T">Tongue</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="wg_band">

 <!-- Dimension -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Dimension</label>
       			<select id="pnSubtype1" class="form-control onchange">
       				<option value="WR28">WR28</option>
       				<option value="WR62">WR62</option>
       				<option value="WR75">WR75</option>
       				<option value="WR137">WR137</option>
       				<option value="WR187">WR187</option>
       			</select>
   			</div>

 <!-- Type -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">Type</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="H">H-Plane</option>
       				<option value="E">E-Plane</option>
       			</select>
   			</div>
 
 <!-- Material -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype3" class="input-group-text">Material</label>
       			<select id="pnSubtype3" class="form-control onchange">
       				<option value="A">Aluminum</option>
       				<option value="C">Copper</option>
       			</select>
   			</div>
   			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

<th:block th:fragment="wg_magic">

 <!-- Dimension -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype1" class="input-group-text">Dimension</label>
       			<select id="pnSubtype1" class="form-control onchange">
      				<option value="WR28">WR28</option>
       				<option value="WR62">WR62</option>
       				<option value="WR75">WR75</option>
       				<option value="WR137">WR137</option>
       				<option value="WR187">WR187</option>
       			</select>
   			</div>

 <!-- Type -->
  			<div class="input-group ml-1 col pn_field">
      			<label for="pnSubtype2" class="input-group-text">Type</label>
       			<select id="pnSubtype2" class="form-control onchange">
       				<option value="">Parts</option>
       				<option value="A">Assembled</option>
       			</select>
   			</div>
    			<script>
   				$('.onchange').on('change', function(){
   					toPartNumber();
   				});
   			</script>

</th:block>

</th:block>

<!-- Force next columns to break to new line -->
			<div class="w-100"></div>

 <!-- Component PN search -->
  			<div class="input-group ml-1 col">
      			<label for="componentPN" class="input-group-text searchInput">PN</label>
      			<input id="componentPN" type="text" class="form-control searchInput" placeholder="Component PN" aria-label="Component PN">
    		</div>
 
 <!-- Component Mfr PN search -->
  			<div class="input-group ml-1 col">
      			<label for="componentMfrPN" class="input-group-text">MPN</label>
      			<input id="componentMfrPN" type="text" class="form-control searchInput" placeholder="Component Mfr PN" aria-label="Component Mfr PN">
    		</div>

<!-- Description -->
  			<div class="input-group ml-1 col">
      			<label for="description" class="input-group-text searchInput">Description</label>
      			<input id="description" type="text" class="form-control searchInput" placeholder="Description" aria-label="Component Description">
    		</div>

 <!-- Create Button -->
  		<div class="ml-1 col-auto" sec:authorize="hasAuthority('NEW_PART_NUMBER')">
      		<button id="createBtn" type="button" class="btn btn-outline-primary disabled">Create</button>
   		</div>

  		</form>
  		</div>
	</nav>

<!-- Content -->
	<div id="content" class="container-fluid mt-5 pt-5" th:remove="body">
		<th:block th:fragment="content">
			<div class="row mr">
				<div class="col-sm-2"><strong>Part Number</strong></div>
				<div class="col-sm-auto"><strong>Rev.</strong></div>
				<div class="col-sm-2"><strong>Mfr PN</strong></div>
				<div class="col-sm"><strong>Description</strong></div>
			</div>
			<div class="row hover mr clickable" th:if="${ components }!=null" th:each=" component, stat : ${ components }" th:id="${ component.id }" th:classappend="${stat.odd}? 'odd'">
				<div class="col-sm-2"><strong class="partNumber" th:text="${ component.partNumber }" th:data-pn="${ component.partNumber }">Part Number</strong></div>
				<div class="col-sm-auto">
					<select class="revision" th:if="${ component.revisions.size()>0 }">
						<option th:each="revision : ${component.revisions}" th:value="${revision.pnRevision}" th:text="${revision.pnRevision}"></option>
					</select>
				</div>
				<div class="col-sm-2 mfrPN" th:text="${ component.manufPartNumber }"><strong>Mfr PN</strong></div>
				<div class="col-sm description" th:text="${ component.description }"><strong>Description</strong></div>
				<div sec:authorize="hasAuthority('NEW_PART_NUMBER')" th:if="${ component.revisions.size()>0 }" class="col-auto"><button calss="btn btn-outline-warning" type="button" th:value="${ component.id }">Add Rev</button></div>
			</div>
 			<script th:inline="javascript">
				/*<![CDATA[*/

				$('#miOldDB').addClass('active');

				$('.clickable').click(function(e){

					var target = e.target;
					if(target.localName != 'button')
						return;

					if(!confirm('Create a new revision?'))
						return;

					var id = $(target).val();
					$("#content").load('/create/revision', {id: id});
				});

				addRevision();
				function addRevision(){

					$('.row').each(function(){
						var $this = $(this);
						var $partNumber = $this.find('.partNumber');
						var $revision = $this.find('.revision');
						setPartNumber($partNumber, $revision)
					});
				}
				$('.revision').on('change', function(){
					var $revision = $(this);
					var $parent = $revision.parent().parent();
					var $partNumber = $parent.find('.partNumber');
					setPartNumber($partNumber, $revision)
				})

				function setPartNumber($partNumber, $revision){
					
					var revision = $revision.val();

					if(!revision || !$partNumber)
						return;

					var newPartNumber = $partNumber.attr("data-pn") + '-R' + revision.padStart(2, '0');
					$partNumber.text(newPartNumber);
				}
				/*]]>*/
				//# sourceURL=oldDbContent.js
  			</script>
 		</th:block>
	</div>

<!-- Modal Message -->
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" th:replace="components :: componentData"></div>

<th:block th:replace="components :: scripts">
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</th:block>
<script type="text/javascript" th:inline="javascript">
	var pnNames = /*[[${pnNames}]]*/ [];
	//# sourceURL=oldDB.js
</script>
	<script type="application/javascript" src="../static/js/old.js" th:src="@{/js/old.js}" th:inline="javascript"></script>
</body>
</html>