<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      	lang="en">
<head>
    <title>IRT RMAs.</title>
    <link rel="shortcut icon" href="http://irttechnologies.com/favicon.ico">
<th:block th:replace="components :: bootstrapLink">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</th:block>
    <link rel="stylesheet" href="../static/css/components.css" th:href="@{/css/components.css}">
    <link rel="stylesheet" href="../static/css/rma.css" th:href="@{/css/rma.css}">
</head>
<body>

	<nav class="navbar fixed-top navbar-light bg-light row">
 
<!-- Navigation Dropdown Menu from components.html -->
		<div class="dropdown" th:replace="components :: dropdownMenu">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
  			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    			<a class="dropdown-item" href="components.html" th:href="@{/}">Components</a>
    			<a class="dropdown-item" href="bom.html" th:href="@{/bom}">BOMs</a>
  			</div>
		</div>

		<div class="nav-item col">
  		<form class="row">

<!-- Filter RMA unit by shipped or not -->
 			<div id="rmaFilter" class="btn btn-outline-primary ml-1 col-auto" data-bs-html="true" data-bs-toggle="tooltip" title="Click to show RMA units in work.<br>Press CTRL to change direction.">ALL</div>
 
<!-- RMA Number search-->
  			<div class="input-group col">
				<input type="radio" class="btn-check" name="sort_by" id="rmaOrderByRmaNumber" autocomplete="off">
      			<label for="rmaOrderByRmaNumber" class="input-group-text btn btn-outline-secondary" data-bs-toggle="tooltip" title="RMA Number">RMA</label>
      			<input id="rmaNumber" type="text" class="form-control searchRma" placeholder="RMA Number" aria-label="RMA Number">
    		</div>

<!-- Serial Number search-->
  			<div class="input-group col">
				<input type="radio" class="btn-check" name="sort_by" id="rmaOrderBySerialNumber" autocomplete="off">
      			<label for="rmaOrderBySerialNumber" class="input-group-text btn btn-outline-secondary" title="Unit Serial Number" data-bs-toggle="tooltip">SN</label>
      			<input id="rmaSerialNumber" type="text" class="form-control searchRma" placeholder="UNIT Serial Number" aria-label="UNIT Serial Number">
    		</div>

 <!--  Description search -->
  			<div class="input-group ml-1 col">
      			<label for="rmaDescription" class="input-group-text" title="Description" data-bs-toggle="tooltip">D</label>
      			<input id="rmaDescription" type="text" class="form-control searchRma" placeholder="Description" aria-label="Description" aria-describedby="descriptionLbl">
    		</div>

 <!--  Comment search -->
  			<div class="input-group ml-1 col">
      			<label for="rmaDescription" class="input-group-text" title="Comments" data-bs-toggle="tooltip">C</label>
      			<input id="rmaComments" type="text" class="form-control searchRma" placeholder="Comments" aria-label="Comments" aria-describedby="commentsLbl">
    		</div>

  			<div sec:authorize="hasAuthority('ADD_RMA')" class="ml-1 col-auto">
 <!-- Add RMA unit Button -->
      			<button id="addRMA" class="form-control btn btn-outline-primary" disabled>Add</button>
    		</div>

  		</form>
  		</div>
	</nav>
<!-- Toast -->
<div id="toast-container" class="toast-container position-fixed start-0 mt-5">
</div>

<!-- Accordion -->
	<div id="accordion" class="mt-5 accordion">

	<div><strong>To get information about RMA Units, enter some information into one of the search fields.</strong></div>
<!-- Accordion:	Cards -->
	<th:block th:fragment="rmaCards">

		<div class="accordion-item" th:each="rma, status : ${ rmas }" th:with="index =${ status.index }" th:id="${rma.fromWeb ? 'web' + rma.id : 'local' + rma.id}" >

<!-- Accordion:	Card Header -->
			<h5 th:id="heading + ${ index }" class="accordion-header">
				<button type="button" class="btn accordion-button" data-bs-toggle="collapse" data-bs-target="#rma0" aria-expanded="true" aria-controls="rma0" th:attr="aria-controls ='rma'+${ index }, data-bs-target='#rma'+${ index }" style="width:100%">
          			<div class="row" style="width:100%">
           				<div class="col-auto rma-status"
           					th:title="${rma.status.description}"
           					data-bs-toggle="tooltip"
           					th:classappend="${rma.status.bootstrapCalsses}">

          					<strong th:text="${ rma.rmaNumber }"> RMA Number </strong>
          				</div>
          				<div class="col-auto">
          					<strong class="text-nowrap serialNumber" th:text="${ #strings.toUpperCase( rma.serialNumber ) }"> Serial Number </strong>
          				</div>
          				<div class="col-auto">
          					<strong class="text-nowrap partNumber" th:text="${ #strings.toUpperCase( rma.partNumber ) }"> Part Number </strong>
          				</div>
          				<div class="col text-secondary">
          					<strong th:text="${ rma.description }">Description</strong>
          				</div>
          				<div class="col-auto text-secondary">
          					<strong th:text="${#dates.format( rma.creationDate, 'dd MMM yyyy' )}" th:title="${rma.creationDate}" data-bs-toggle="tooltip">Date</strong>
          				</div>
          				<div class="col-auto text-secondary">
          					<strong th:text="${rma.username}" th:title="${rma.fullName}" data-bs-toggle="tooltip">User Name</strong>
          				</div>
<!--/* 						<div class="col-auto" th:if="${rma.status == T(irt.components.beans.jpa.rma.Rma.Status).CREATED}" sec:authorize="hasAuthority('ADD_RMA')">*/-->
<!-- Button to Add RMA unit -->
<!--/*     						<div class="btn btn-outline-primary add-to-rma" th:data-rma-number="${ rma.rmaNumber }" th:title="'Add another unit to ' + ${rma.rmaNumber}" data-bs-toggle="tooltip">Add</div>*/-->
 <!--/*   					</div>*/-->
  						<div class="col-auto" sec:authorize="hasAuthority('ADD_RMA_COMMENT')" >
<!--/* Button to Add Comment */-->
      						<div class="btn btn-outline-primary add-comment" title="Add Comment" data-bs-toggle="tooltip">Comm.</div>
    					</div>
           			</div>
        		</button>
			</h5>

<!-- Accordion:	Card Body -->
			<div id="rma0" th:id="rma + ${ index }" class="accordion-collapse collapse" aria-labelledby="heading0" th:attr="aria-labelledby ='heading'+${ index}" data-bs-parent="#accordion">
				<div class="accordion-body">
					<div class="row complain bg-info-subtle" th:if="${rma.malfunction}!=null">
						<div class="col-auto">
							<h6>Customer Complaint:</h6>
						</div>
						<div class="col" th:text="${rma.malfunction}"></div>
					</div>
					<div class="content" th:remove="body">
				<th:block th:fragment="rmaBody">
					<div class="row">
						<div class="col-1"> # </div>
						<div class="col"><strong>	  Comments </strong></div>
						<div class="col-1"><strong>	  User </strong></div>
						<div class="col-2"><strong>Date </strong></div>
					</div>
					<div class="row hover-light" th:each="rmaContent, status : ${ comments }" th:with="user = ${ rmaContent.user }" th:classappend="${status.odd ? 'odd' : ''}">
						<div class="col-1" th:text="${ status.count }">	#</div>
						<div class="col comment pre-line" th:text="${ rmaContent.comment }">Comment </div>
						<div class="col-1 username" th:text="${ user.username }" th:title="${ user.firstname + ' ' + user.lastname}" data-bs-toggle="tooltip">User name </div>
						<div class="col-2 date" th:text="${#dates.format( rmaContent.date, 'dd MMM yyyy kk:mm' )}">Date </div>
						<div th:if="${ rmaContent.hasFiles }" th:id="'filesFor' + ${ rmaContent.id }">
							<script type="application/javascript" th:inline="javascript">
								var commentID = /*[[${ rmaContent.id }]]*/ 1;
								var onWeb = /*[[${onWeb}]]*/ true;
								$('#filesFor' + commentID).load('/rma/get_files', {commentID: commentID, onWeb: onWeb});
							</script>
							<th:block th:remove="all">

								<div th:fragment="comment_files">
									<a 		class="thumbnails" 
											href="#" 
											th:each="fileName, stat : ${fileNames}" 
											th:href="@{'/files/rma/' + ${commentID} + '/' + ${fileName.second} + '/' + ${onWeb}}" 
											target="_blank" 
											th:onclick="'thumbnailsClick(event,' + ${stat.index} + ',' + ${commentID} + ',' + ${onWeb} + ')'">
										<img 	src="/" 
												class="img-thumbnail hover-shadow" 
												alt="..." 
												th:alt="${fileName.first}" 
												th:src="@{'/files/rma/thumbnails/' + ${commentID} + '/' + ${fileName.second} + '/' + ${onWeb}}" 
												th:title="${fileName.first} + '&#010;Doble Click to Download'">
									</a>
								</div>
							</th:block>
						</div>
					</div>
				</th:block>
					</div>
			</div>
			</div>
			<script type="application/javascript" th:inline="javascript" th:if="${status.size} eq 1">
			/*<![CDATA[*/

				var collapse = document.getElementsByClassName('collapse')[0];
				new bootstrap.Collapse(collapse, { toggle: true});
			/*]]>*/
			//# sourceURL=collapse.js
			</script>
		</div>
		<div class="alert alert-success" role="alert">
			<h5 class="alert-heading">RMA Summary</h5>
			<p th:inline="text">[[${sum}]] RMAs in total</p>
			<hr>
			<p th:inline="text">[[${ready}]] RMAs is ready<br>[[${todo}]] RMAs in work or awaiting decision<br>[[${waiting}]] RMAs not delivered yet</p>
		</div>
<!--  sec:authorize="hasAuthority('ADD_RMA_COMMENT')" -->
		<script type="application/javascript" sec:authorize="hasAuthority('ADD_RMA_COMMENT')" th:if="${ rmas != null ? rmas.size() > 0 : false }" th:inline="javascript">
			/*<![CDATA[*/

			$('.add-comment')
			.mouseenter(removeDataCollapse)
			.mouseleave(addDataCollapse).click(function(e){
				e.stopPropagation();

				let $row = $(this).parents('.accordion-item');
				showComment($row);
			});
			$('.add-to-rma').mouseenter(removeDataCollapse);
			function removeDataCollapse(){
				let t = $(this).parents('.accordion-button').attr('data-bs-toggle', '');
			}

			$('.add-to-rma').mouseleave(addDataCollapse);
			function addDataCollapse(){
				$(this).parents('.accordion-button').attr('data-bs-toggle', 'collapse');
			}
			function ondblclick(){
				showComment($(this))
			}
			function showComment($this){

				var $serialNumber = $this.find(".serialNumber");
				var readyToShip = $this.find(".rma-status").hasClass('bg-info');
				if(readyToShip)
					$('#readyToShip').addClass('disabled rma-ready');
				else
					$('#readyToShip').removeClass('disabled rma-ready');

				if($serialNumber){
					var id = $this.prop('id');
					showModal(id, $serialNumber.text());
				}
			}
			var items = document.getElementsByClassName('accordion-item');
			for(const item of items){

				var $rmsNumber = $(item).find('.rma-status');
				if(!$rmsNumber.hasClass('bg-secondary'))
					item.ondblclick = ondblclick;	//	 for not shipped RMAs
			}

			// Add RMA Unit to the existing RMA Number
			$('.add-to-rma').click(function(){addToRma(this.dataset.rmaNumber);});
			/*]]>*/
			//# sourceURL=rmaComments.js
		</script>
	</th:block>
	</div>
<!-- Accordion:	And -->

<!-- Modal Message -->
	<div id="modal" class="modal fade" aria-hidden="true" tabindex="-1" sec:authorize="hasAuthority('ADD_RMA_COMMENT')">
  		<div class="modal-dialog">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 id="modal_title" class="modal-title ml-3 text-primary">Enter the information about this RMA.</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      			</div>
<!-- Modal Body -->
      			<div id="modal-body" class="modal-body form-floating">
      				<div class="form-floating mb-3">
	        			<textarea class="form-control" placeholder="Leave a comment here" id="rmaTextarea" style="height: 200px"></textarea>
   		     			<label for="rmaTextarea"> Leave a comment here</label>
   		     		</div>
					<div class="mt-3">
						<label for="attachFiles" class="btn btn-outline-secondary form-control">Attach Files</label>
						<input id="attachFiles" type="file" hidden multiple>
					</div>
					<div id="fileNames">
					</div>
      			</div>
<!-- Modal Footer -->
      			<div class="modal-footer">
      				<div class="btn-group col" role="group" aria-label="RMA Status Selection">
      					<th:blok th:each="status : ${rmaStatuses}">
      						<input th:id="${status.name}" name="rmaStatus" type="radio" class="btn-check" th:aria-label="${status.description}">
      						<label class="btn btn-outline-secondary" th:for="${status.name}" th:text="${#strings.capitalize(#strings.toLowerCase(status.name))}" th:title="${status.description}" data-bs-toggle="tooltip">Ready</label>
      					</th:blok>
      				</div>
           			<div class="col"></div>
	        		<button id="saveComment" type="button" class="btn btn-outline-primary col">Save Comment</button>
	        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        	</div>
     			<div class="row mb-3">
           			<div class="col"></div>
           			<div class="col">
      					<a id="qrBtn" class="btn btn-outline-secondary form-control" target="_blank"><img alt="QR to save image" src="#"></a>
      				</div>
           			<div class="col"></div>
      			</div>
    		</div>
  		</div>
  			<script th:inline="javascript">
			/*<![CDATA[*/
 
			document.getElementById("modal").addEventListener('shown.bs.modal', getQRcode);
			document.addEventListener('hide.bs.modal', ()=>{
				if (document.activeElement) 
		            document.activeElement.blur();
			});

			function getQRcode(){
				const userId = /*[[${#authentication.principal.user.id}]]*/ 1;
				const timestamp = /*[[${timestamp}]]*/ 1;
				const rmaId = document.getElementById('saveComment').value;
				$('#qrBtn').attr('href', `/rma/camera/${rmaId}/${userId}/${timestamp}`)
				.children().attr('src', `/rma/rest/qr?rmaId=${rmaId}&userId=${userId}`);
			}
			/*]]>*/
			//# sourceURL=rmaCommentModal.js
		</script>
	</div>

<!-- Modal Image -->
	<div id="imgModal" class="modal" tabindex="-1" aria-hidden="true" th:remove="body">
	<th:block th:fragment="imgModal">
 		<div class="modal-dialog  modal-xl">
     	 	<div class="modal-header">
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
	 		<div class="modal-body modal-content">
 				<a href="#" th:href="@{'/files/rma/' + ${commentID} + '/' + ${imgName.second}}" target="_blank">
		    		<img id="fullImage" src="/" alt="..." style="width:100%" th:src="@{'/files/rma/' + ${commentID} + '/' + ${imgName.second} + '/' + ${onWeb}}" th:alt="${imgName.first}" th:title="${imgName.first} + '&#010;Click to Download'">
  				</a>
    			</div>

			<!-- Thumbnail image controls -->
			<div id="images-footer" class="modal-footer" style="pointer-events: auto;">
				<img class="thumbImg img-thumbnail" src="img1.jpg" alt="..." th:each="fileName, stat : ${fileNames}" th:src="@{'/files/rma/thumbnails/' + ${commentID} + '/' + ${fileName.second} + '/' + ${onWeb}}" th:alt="${fileName.first}" th:title="${fileName.first}" data-bs-toggle="tooltip" data-th-data-image-index="${stat.index}">
			</div>
		</div>
		 <button class="carousel-control-prev" type="button">
 			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
		<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
			var imgIndex = /*[[${imgIndex}]]*/ 0;
			$('.thumbImg').click(function(e){
				e.preventDefault();
				e.stopPropagation();

				let $this = $(this);
				showSelected($this);

				imgIndex = parseInt($this.attr('data-image-index'));
			});
			$('.carousel-control-prev').click(function(){
				changeImage(-1);
			});
			$('.carousel-control-next').click(function(){
				changeImage(1);
			});
			function changeImage(step){

				var size = /*[[${fileNames.size}]]*/ 0;
				if(size<2)
					return;

				imgIndex += step;
				if(imgIndex<0)
					imgIndex = size - 1;

				else if(imgIndex>=size)
					imgIndex = 0;

				let $this = $('#images-footer').find('img').filter((i, n)=>{return imgIndex == parseInt(n.dataset.imageIndex);});
				showSelected($this)
			}
			function showSelected($this){

				let $fullImage = $('#fullImage');
				let $href = $fullImage.parent();

				let v = $this.attr('src').replace('thumbnails/', '');
				$fullImage.attr('src',v);
				$href.attr('href',v);

				v = $this.attr('data-bs-original-title') + '\nClick to Download';
				$fullImage.attr('title', v);

				v = $this.attr('alt');
				$fullImage.attr('alt',v);
			}
			tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
			tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
			/*]]>*/
			//# sourceURL=rmalImage.js
		</script>
	</th:block>
	</div>
<th:block th:remove="all">
	<div class="alert alert-warning" role="alert" th:fragment="alert(message)" th:utext="${message}">Your login has expired. Refresh the page, please, and <strong>login again.</strong></div>
</th:block>
<th:block th:replace="components :: scripts">
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</th:block>
	<script type="application/javascript" src="../static/js/rma.js" th:src="@{/js/rma.js}"></script>
	<script type="application/javascript">
	/*<![CDATA[*/
		$('#miRMAs').addClass('active');
	/*]]>*/
	</script>
</body>
</html>