<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">
            %5p %d{yyyy-MM-dd HH:mm:ss.SSS} (%F:%L) --- %M [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
		<logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="error" />
		<logger name="irt.components.controllers.rma.RmaController" level="all" />
		<logger name="irt.components.services.SpringMailSender" level="all" />

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>

</Configuration>
